{% extends 'Ist1ChannelBundle::base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Index
            <small>choose a category</small>
        </h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <a href="{{ path('channel', {channelCategory: 'football'}) }}">football</a>
        </div>
    </div>
{% endblock %}