{% extends 'Ist1ChannelBundle::base.html.twig' %}

{% block title %}Error {{ status_code }}{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Error {{ status_code }}
            <small>{{ status_text }}</small>
        </h1>
    </div>

    <div class="panel panel-danger">
        <div class="panel-body">
            <h4>This is a nice error page.</h4>
            {{ exception.message }}
        </div>
    </div>
{% endblock %}