{% extends 'Ist1ChannelBundle::base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <div class="channels">
        <div class="page-header">
            <h1>News
                <small>we have great news</small>
            </h1>
        </div>
        {% if channels %}
            {% for channel in channels %}
                {% include "Ist1ChannelBundle:News:channel.html.twig" %}
            {% endfor %}
        {% else %}
            <div class="panel-danger">
                <div class="panel-body">
                    There were no channels to display.
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}